{% load static %}
<!DOCTYPE html>
<!--HTML5-->
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    {% block css %}{% endblock %}
</head>

<body>
    <!--nav bar start-->

    <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <a href="#"></a><img src="{% static 'images/noun_love house_3971660.png' %}" width="50" height="50"/></a>
            <li><a class="menu-text">Neighbors</a></li>
            <li>
              <a href="/">Home</a>
            </li>
            <li><a href="/events/">Events</a></li>
            <li><a href="/resources/">Community Resources</a></li>
            <li><a href="/about/">About</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu"> 
            <li><a href="/chat/" class="button">Chat with Us!</a></li>
            <li><a href="/login/" class="button">Account</a></li>
          </ul>
        </div>
      </div>

    <!--nav bar end -->
    {% block content %}{{body}}{% endblock %}
    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/foundation.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>